<!DOCTYPE html>
<html>

<head>
    <title>Style Guide</title>
    <link rel="stylesheet" href="../styles/vendor/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="../styles/vendor/flex-layout-attribute.css">
    <link rel="stylesheet" href="../styles/site.css">
    <link rel="stylesheet" href="../styles/extensions.css">
</head>

<body>
    <div class="viewport" layout="column">
        <div id="navbar" class="navbar" layout="row center-justify">
            <div class="padding-large-horizontal" self="size-xxsmall first">
                <span class="header header-medium">Gadens CMC</span>
            </div>

            <nav class="menu menu-horizontal" self="size-x1">
                <a href="#" class="menu-item active">
                    <div layout="row center-left">
                        <span class="icon dripicons-meter icon-success"></span>
                        <span>Dashboard</span>
                    </div>
                </a>
                <a href="#" class="menu-item">
                    <div layout="row center-left">
                        <span class="icon dripicons-document icon-warning"></span>
                        <span>Reports</span>
                    </div>
                </a>
                <a href="#" class="menu-item">
                    <div layout="row center-left">
                        <span class="icon dripicons-briefcase icon-danger"></span>
                        <span>Services</span>
                    </div>
                </a>
            </nav>

            <div class="padding-large-horizontal header" self="size-xxsmall last">
                <div layout="row center-right">
                    <div class="margin-small-right">
                        <img src="../images/elliot.jpg" alt="" class="avatar">
                    </div>
                    <div>
                        <span class="header">Andrew Courtice</span>
                        <span class="header header-small text-secondary">Applications Developer</span>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row justify-stretch" self="size-x1">
            <div id="left-sidebar" class="sidebar pane pane-left" layout="column justify-stretch" self="size-xxsmall first">
                <div class="menu-collection">
                    <div class="menu-group">
                        <span class="menu-group-header">General</span>
                        <nav class="menu">
                            <a href="#" class="menu-item active">
                                <div layout="row center-left">
                                    <span class="icon dripicons-home icon-accent"></span>
                                    <span>Home</span>
                                    <span class="label label-danger" self="right">5</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-feed icon-warning"></span>
                                    <span>News</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-user icon-success"></span>
                                    <span>People</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-calendar icon-accent"></span>
                                    <span>Calendar</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-briefcase icon-danger"></span>
                                    <span>Services</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                    <div class="menu-group">
                        <span class="menu-group-header">Other Stuff</span>
                        <nav class="menu">
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-graph-pie icon-success"></span>
                                    <span>Dashboard</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-document icon-warning"></span>
                                    <span>Reports</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-briefcase icon-danger"></span>
                                    <span>Services</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="menu-collection" self="last">
                    <div class="menu-group no-margin">
                        <span class="menu-group-header">Other</span>
                        <nav class="menu">
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-gear icon-accent"></span>
                                    <span>Preferences</span>
                                </div>
                            </a>
                            <a href="#" class="menu-item">
                                <div layout="row center-left">
                                    <span class="icon dripicons-help icon-accent"></span>
                                    <span>Help</span>
                                </div>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div layout="row lg-column">
                <div class="pane pane-left no-padding" self="size-xsmall lg-full">
                    <ul class="list list-hover">
                        <li class="list-item">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-mail icon-accent"></span>
                                </div>
                                <div>
                                    <span class="header">Andrew Courtice</span>
                                    <span class="header header-small text-secondary">Applications Developer</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-mail icon-accent"></span>
                                </div>
                                <div>
                                    <span class="header">Andrew Courtice</span>
                                    <span class="header header-small text-secondary">Applications Developer</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-mail icon-accent"></span>
                                </div>
                                <div>
                                    <span class="header">Andrew Courtice</span>
                                    <span class="header header-small text-secondary">Applications Developer</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-mail icon-accent"></span>
                                </div>
                                <div>
                                    <span class="header">Andrew Courtice</span>
                                    <span class="header header-small text-secondary">Applications Developer</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </li>
                        <li class="list-item">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-mail icon-accent"></span>
                                </div>
                                <div>
                                    <span class="header">Andrew Courtice</span>
                                    <span class="header header-small text-secondary">Applications Developer</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="pane" self="size-x1 lg-full">
                    <div class="container">
                        <h1 class="header header-xlarge">This is the header</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="table-wrapper">
                            <table class="table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable" name="switchtable" value="">
                                                <label for="switchtable"></label>
                                            </div>
                                            Column 1
                                        </th>
                                        <th>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable" name="checktable" value="">
                                                <label for="checktable"></label>
                                            </div>
                                            Column 2
                                        </th>
                                        <th>Column 3</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable1" name="switchtable1" value="" checked>
                                                <label for="switchtable1"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable1" name="checktable1" value="">
                                                <label for="checktable1"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>Data Stuff</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable2" name="switchtable2" value="">
                                                <label for="switchtable2"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable2" name="checktable2" value="" checked>
                                                <label for="checktable2"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>Data Stuff</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable3" name="switchtable3" value="" checked>
                                                <label for="switchtable3"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable3" name="checktable3" value="" checked>
                                                <label for="checktable3"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>Data Stuff</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable4" name="switchtable4" value="" checked>
                                                <label for="switchtable4"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable4" name="checktable4" value="">
                                                <label for="checktable4"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>Data Stuff</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="toggle toggle-switch">
                                                <input type="checkbox" id="switchtable5" name="switchtable5" value="">
                                                <label for="switchtable5"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td>
                                            <div class="toggle toggle-checkbox">
                                                <input type="checkbox" id="checktable5" name="checktable5" value="" checked>
                                                <label for="checktable5"></label>
                                            </div>
                                            Data Stuff
                                        </td>
                                        <td><span class="loader loader-waiting"></span> Data Stuff</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="grid margin-medium-vertical" layout="rows center-stretch">
                            <div class="grid-cell">
                                <label for="">Text Field</label>
                                <input type="text">
                            </div>
                            <div class="grid-cell">
                                <label for="">Select Field</label>
                                <select name="" id="">
                                    <option value="1">Andrew</option>
                                    <option value="2">Andrew</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid margin-medium-vertical" layout="rows center-stretch">
                            <div class="grid-cell">
                                <div class="toggle toggle-switch">
                                    <input type="checkbox" id="switch1" name="switch1" value="">
                                    <label for="switch1"></label>
                                </div>
                                <label for="switch1">Toggle Switch</label>
                                <div class="toggle toggle-switch">
                                    <input type="checkbox" id="switch2" name="switch2" value="" disabled>
                                    <label for="switch2"></label>
                                </div>
                                <label for="switch2">Toggle Switch</label>
                            </div>
                            <div class="grid-cell">
                                <div class="toggle toggle-checkbox">
                                    <input type="checkbox" id="check1" name="check1" value="">
                                    <label for="check1"></label>
                                </div>
                                <label for="check1">Checkbox</label>
                                <div class="toggle toggle-checkbox">
                                    <input type="checkbox" id="check2" name="check2" value="" disabled>
                                    <label for="check2"></label>
                                </div>
                                <label for="check2">Checkbox</label>
                            </div>
                        </div>
                        <div class="grid margin-medium-vertical" layout="rows center-stretch">
                            <div class="grid-cell">
                                <div class="toggle toggle-radio">
                                    <input type="radio" id="radio1" name="radio" value="Yes">
                                    <label for="radio1"></label>
                                </div>
                                <label for="radio1">Radio</label>
                                <div class="toggle toggle-radio">
                                    <input type="radio" id="radio2" name="radio" value="No">
                                    <label for="radio2"></label>
                                </div>
                                <label for="radio2">Radio</label>
                                <div class="toggle toggle-radio">
                                    <input type="radio" id="radio3" name="radio" value="No" disabled>
                                    <label for="radio3"></label>
                                </div>
                                <label for="radio3">Radio</label>
                            </div>
                        </div>
                        <p>
                            <button class="button"><span class="icon dripicons-arrow-right margin-small-right"></span> Send Something</button>
                            <button class="button button-success"><span class="icon dripicons-arrow-right margin-small-right"></span> Send Something</button>
                            <button class="button button-warning"><span class="icon dripicons-arrow-right margin-small-right"></span> Send Something</button>
                            <button class="button button-danger"><span class="icon dripicons-arrow-right margin-small-right"></span> Send Something</button>
                        </p>
                        <p>
                            <a href="#" class="button" data-tooltip="This is the tooltip">Send Something</a>
                            <a href="#" class="button button-success" data-tooltip="This is the tooltip" data-tooltip-position="top centre">Send Something</a>
                            <a href="#" class="button button-warning" data-tooltip="This is the tooltip" data-tooltip-position="top right">Send Something</a>
                            <a href="#" class="button button-danger">Send Something</a>
                        </p>
                        <p>
                            <a href="#" class="button button-small" data-tooltip="This is the tooltip" data-tooltip-position="bottom">Small Button</a>
                            <a href="#" class="button button-small button-success" data-tooltip="This is the tooltip" data-tooltip-position="bottom centre">Small Button</a>
                            <a href="#" class="button button-small button-warning" data-tooltip="This is the tooltip" data-tooltip-position="right">Small Button</a>
                            <a href="#" class="button button-small button-danger">Small Button</a>
                        </p>
                        <p>
                            <a href="#" class="button button-large">Large Button</a>
                            <a href="#" class="button button-large button-success">Large Button</a>
                            <a href="#" class="button button-large button-warning">Large Button</a>
                            <a href="#" class="button button-large button-danger">Large Button</a>
                        </p>
                        <div class="tab-control" layout="column top-stretch">
                            <div class="tabs-panel" layout="row stretch-left">
                                <div class="tab-item active">Home</div>
                                <div class="tab-item">Random Stuff</div>
                                <div class="tab-item">Other Stuff</div>
                            </div>
                            <div class="tabs-viewport">
                                <div class="tab-pane active">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="tab-pane">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div class="tab-pane">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <ul class="list thread">
                            <li class="list-item">
                                <div layout="row center-left">
                                    <div class="margin-small-right">
                                        <span class="icon dripicons-message icon-accent"></span>
                                    </div>
                                    <div>
                                        <span class="header">Andrew Courtice</span>
                                        <span class="header header-small text-secondary">Applications Developer</span>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div>
                                    <small><a href="#">Google Something</a></small>
                                </div>
                                <ul class="list thread">
                                    <li class="list-item">
                                        <div layout="row center-left">
                                            <div class="margin-small-right">
                                                <span class="icon dripicons-message icon-accent"></span>
                                            </div>
                                            <div>
                                                <span class="header">Andrew Courtice</span>
                                                <span class="header header-small text-secondary">Applications Developer</span>
                                            </div>
                                        </div>
                                        <div>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                            </p>
                                        </div>
                                        <div>
                                            <small><a href="#">Google Something</a></small>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-item">
                                <div layout="row center-left">
                                    <div class="margin-small-right">
                                        <span class="icon dripicons-message icon-accent"></span>
                                    </div>
                                    <div>
                                        <span class="header">Andrew Courtice</span>
                                        <span class="header header-small text-secondary">Applications Developer</span>
                                    </div>
                                </div>
                                <div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                                <div>
                                    <small><a href="#">Google Something</a></small>
                                </div>
                            </li>
                        </ul>
                        <div class="grid" layout="rows center-stretch">
                            <div class="grid-cell">
                                <h1 class="header header-xlarge">This is the header</h1>
                            </div>
                            <div class="grid-cell">
                                <h1 class="header header-xlarge">This is the header</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="right-sidebar" class="sidebar pane pane-right no-padding" self="size-xxsmall last">
                <ul class="list">
                    <li class="list-item">
                        <a href="#" class="no-colour-context">
                            <div layout="row center-left">
                                <div class="margin-small-right">
                                    <span class="icon dripicons-bell icon-danger"></span>
                                </div>
                                <div>
                                    <span class="header">Status Update</span>
                                    <span class="header header-small text-secondary">Something Happened</span>
                                </div>
                            </div>
                            <div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                            <div>
                                <small><a href="#">Google Something</a></small>
                            </div>
                        </a>
                    </li>
                    <li class="list-item">
                        <div layout="row center-left">
                            <div class="margin-small-right">
                                <span class="icon dripicons-bell icon-danger"></span>
                            </div>
                            <div>
                                <span class="header">Status Update</span>
                                <span class="header header-small text-secondary">Something Happened</span>
                            </div>
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div>
                            <small><a href="#">Google Something</a></small>
                        </div>
                    </li>
                    <li class="list-item">
                        <div layout="row center-left">
                            <div class="margin-small-right">
                                <span class="icon dripicons-bell icon-danger"></span>
                            </div>
                            <div>
                                <span class="header">Status Update</span>
                                <span class="header header-small text-secondary">Something Happened</span>
                            </div>
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div>
                            <small><a href="#">Google Something</a></small>
                        </div>
                    </li>
                    <li class="list-item">
                        <div layout="row center-left">
                            <div class="margin-small-right">
                                <span class="icon dripicons-bell icon-danger"></span>
                            </div>
                            <div>
                                <span class="header">Status Update</span>
                                <span class="header header-small text-secondary">Something Happened</span>
                            </div>
                        </div>
                        <div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>
                        <div>
                            <small><a href="#">Google Something</a></small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="statusbar" layout="row center-justify">
            <div>
                <small class="text-secondary">Gadens Central Management Console</small>
            </div>
            <small class="text-secondary">Copyright Gadens 2016</small>
        </div>
    </div>
</body>

</html>