
@import "_variables.scss";

.calendar {
    display: inline-block;
    width: 250px;
    background-color: $colour_Background;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;

    &.calendar-fixed {

        &.calendar-small {
            width: 250px;
        }

        &.calendar-medium {
            width: 480px;
        }

        &.calendar-large {
            width: 640px;
        }
    }

    &.calendar-dynamic {
        width: 100%;

        &.calendar-small {

            & .calendar-week {

                & .calendar-day {
                    height: 48px;
                    padding: 10px;
                }
            }
        }

        &.calendar-medium {
            width: 480px;

            & .calendar-week {

                & .calendar-day {
                    height: 96px;
                    padding: 10px;
                }
            }
        }

        &.calendar-large {

            & .calendar-week {

                & .calendar-day {
                    height: 128px;
                    padding: 10px;
                }
            }
        }
    }

    &.calendar-medium,
    &.calendar-large {

        & .calendar-week {

            &:not(:last-child) {

                & .calendar-day {
                    border-bottom: 1px solid $colour_BorderLight;
                }
            }

            & .calendar-day {
                &:not(:last-child) {
                    border-right: 1px solid $colour_BorderLight;
                }
            }
        }
    }

    &.calendar-large {

        & .calendar-header {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        & .calendar-current-month,
        & .calendar-current-year {
            font-size: 22px;
        }

        & .calendar-weekdays {

            & .calendar-day {
                padding: 10px;
                font-size: 18px;
            }
        }

        & .calendar-week {

            & .calendar-day {
                height: 96px;
                padding: 10px;
            }
        }
    }

    &.calendar-accent {
        border-color: $colour_Accent;

        & .calendar-header,
        & .calendar-footer {
            background-color: $colour_Accent;

            & .icon-button {
                color: $colour_FontInverted;
            }
        }

        & .calendar-current-month,
        & .calendar-current-year {
            color: $colour_FontInverted;
        }

        & .calendar-weekdays {

            & .calendar-day {
                color: $colour_FontInverted;
                background-color: $colour_Accent;
                border-color: $colour_Accent;
            }
        }

        & .calendar-footer {
            border-color: $colour_Accent;
        }
    }
}

.calendar-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 15px;
    background-color: $colour_BackgroundHeader;
    border-top-left-radius: $border_Radius;
    border-top-right-radius: $border_Radius;
}

.calendar-previous,
.calendar-next {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    display: block;
}

.calendar-previous {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
}

.calendar-current-block {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    text-align: center;
}

.calendar-current-month,
.calendar-current-year {
    line-height: 1.25;
}

.calendar-current-month {
    font-weight: 600;
    color: $colour_FontDark;
}

.calendar-current-year {
    font-weight: 600;
    color: $colour_FontLight;
}

.calendar-next {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
}

.calendar-content {
    display: table;
    width: 100%;
    min-height: 36px;
}

.calendar-day {
    display: table-cell;
    width: (100% / 7);
    padding: 3px;
    text-align: center;

    &.calendar-weekend {
        background-color: $colour_BackgroundStripe;
    }

    &.calendar-not-current {
        color: $colour_FontLight;
    }

    &.selected {
        color: $colour_FontInverted;
        background-color: $colour_Accent;
        border-radius: $border_Radius;
    }
}

.calendar-day-number {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.calendar-weekdays {
    display: table-header-group;

    & .calendar-day {
        font-weight: 600;
        background-color: $colour_BackgroundHeader;
        border-bottom: 1px solid $colour_Border;
    }
}

.calendar-days {
    display: table-row-group;
}

.calendar-week {
    display: table-row;
}

.calendar-footer {
    padding: 10px 15px;
    background-color: $colour_BackgroundHeader;
    border-top: 1px solid $colour_Border;
    border-bottom-left-radius: $border_Radius;
    border-bottom-right-radius: $border_Radius;
}
