
@import "_variables.scss";

.chips {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.chip {
    display: inline-block;
    position: relative;
    margin: 5px 5px 5px 0;
    padding: 5px 15px;
    font-size: $font_SizeRoot;
    font-weight: 600;
    line-height: $font_LineHeight;
    color: $colour_FontDark;
    background-color: $colour_BackgroundHeader;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
    vertical-align: middle;

    &.chip-removable {
        padding-right: 48px;
    }

    &.chip-accent,
    &.chip-business,
    &.chip-danger,
    &.chip-warning,
    &.chip-success {

        & .chip-title,
        & .chip-subtitle {
            color: $colour_FontInverted;
        }

        & .chip-remove-button {

            &:before,
            &:after {
                background-color: $colour_FontInverted;
            }
        }
    }

    &.chip-accent {
        background-color: $colour_Accent;
        border-color: $colour_Accent;

        & .chip-remove-button {

            &:hover {
                background-color: $colour_AccentDark;
            }
        }
    }

    &.chip-business {
        background-color: $colour_Business;
        border-color: $colour_Business;

        & .chip-remove-button {

            &:hover {
                background-color: $colour_BusinessDark;
            }
        }
    }

    &.chip-danger {
        background-color: $colour_Danger;
        border-color: $colour_Danger;

        & .chip-remove-button {

            &:hover {
                background-color: $colour_DangerDark;
            }
        }
    }

    &.chip-warning {
        background-color: $colour_Warning;
        border-color: $colour_Warning;

        & .chip-remove-button {

            &:hover {
                background-color: $colour_WarningDark;
            }
        }
    }

    &.chip-success {
        background-color: $colour_Success;
        border-color: $colour_Success;

        & .chip-remove-button {

            &:hover {
                background-color: $colour_SuccessDark;
            }
        }
    }
}

.chip-title,
.chip-subtitle {
    display: block;
}

.chip-title {
    font-size: $font_SizeRoot;
    font-weight: 600;
    color: $colour_FontDark;
}

.chip-subtitle {
    font-size: $font_SizeMinor;
    font-weight: 400;
    color: $colour_FontLight;
}

.chip-remove-button {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    cursor: pointer;
    border-radius: $border_Radius;
    transition: background 150ms ease-out;

    &:before,
    &:after {
        display: block;
        position: absolute;
        content: " ";
        top: 50%;
        left: 50%;
        width: 16px;
        height: 2px;
        margin-top: -1px;
        margin-left: -8px;
        background-color: $colour_Font;
        transform-origin: center center;
        transition: background 150ms ease-out;
    }

    &:before {
        transform: rotate(-45deg);
    }

    &:after {
        transform: rotate(45deg);
    }

    &:hover {
        background-color: $colour_Accent;

        &:before,
        &:after {
            background-color: $colour_FontInverted;
        }
    }
}
