
@import "_variables.scss";

.datepicker {

    & .dropdown-panel {
        -webkit-transform-origin: top center;
                transform-origin: top center;
    }

    & .calendar {
        border: none;
    }
}
