
@import "_variables.scss";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font_SizeRoot;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        @extend *;
    }
}

body {
    font-family: $font_Family;
    font-weight: 400;
    line-height: $font_LineHeight;
    color: $colour_Font;
    background-color: $colour_Background;
}

section,
footer {
    margin-top: 64px;
}

footer {
    margin-bottom: 64px;
    padding: 36px 0;
    background-color: $colour_BackgroundHeader;
}

ul,
ol {
    padding-left: 30px;
}

a {
    color: $colour_Accent;
    text-decoration: none;

    &:hover {
        color: $colour_AccentDark;
    }
}

fieldset {
    margin: 0 0 36px 0;
    padding: 0;
    border: none;
}

legend {
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 600;
    color: $colour_FontDark;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 600;
    color: $colour_FontDark;
}

[contenteditable] {

    &:focus {
        outline: none;
        background-color: $colour_BackgroundStripe;
        box-shadow: 0 0 1px 2px rgba($colour_Accent, 0.2);
    }
}
