
@import "_variables.scss";

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 250px;
    margin-top: 5px;
    background-color: $colour_Background;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    z-index: 98;
}

.dropdown-transition {
    transition: opacity 100ms ease-out, transform 100ms ease-out;
    opacity: 1;
    -webkit-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
}

.dropdown-enter,
.dropdown-leave {
    opacity: 0;
    -webkit-transform: translate(0, -15px) scale(0.85);
    transform: translate(0, -15px) scale(0.85);
}
