
@import "_variables.scss";

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.bleed-horizontal {
    padding-left: 0;
    padding-right: 0;
}

.bleed-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

.bleed-all {
    padding: 0 !important;
}

.no-border {
    border: none;
}

.border-top {
    border-top: 1px solid $colour_Border;
}

.border-right {
    border-right: 1px solid $colour_Border;
}

.border-bottom {
    border-bottom: 1px solid $colour_Border;
}

.border-left {
    border: 1px solid $colour_Border;
}

.border-all {
    border-left: 1px solid $colour_Border;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.drop-shadow-hover {

    &:hover {
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    }
}
