
@import "_variables.scss";

.label {
    display: inline;
    min-width: 1.5em;
    padding: 0 0.5em;
    line-height: 1.5;
    font-weight: 600;
    background-color: $colour_BackgroundHeader;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
    text-align: center;

    &.label-round {
        border-radius: 0.75em;
    }

    &.label-accent,
    &.label-business,
    &.label-danger,
    &.label-warning,
    &.label-success {
        color: $colour_FontInverted;
    }

    &.label-accent {
        background-color: $colour_Accent;
        border-color: $colour_Accent;
    }

    &.label-business {
        background-color: $colour_Business;
        border-color: $colour_Business;
    }

    &.label-danger {
        background-color: $colour_Danger;
        border-color: $colour_Danger;
    }

    &.label-warning {
        background-color: $colour_Warning;
        border-color: $colour_Warning;
    }

    &.label-success {
        background-color: $colour_Success;
        border-color: $colour_Success;
    }
}
