
@import "_variables.scss";

.layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout-horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.layout-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sidebar,
.content {
    padding-top: 48px;
    padding-bottom: 48px;
}

.sidebar,
.navbar {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    background-color: $colour_BackgroundHeader;
    z-index: 99;

    & .menu-item {
        position: relative;

        &:after {
            display: block;
            position: absolute;
            content: " ";
            left: 0;
            background-color: $colour_Accent;
            opacity: 0;
            -webkit-transition: opacity 150ms ease-out, -webkit-transform 150ms ease-out;
            transition: opacity 150ms ease-out, -webkit-transform 150ms ease-out;
            transition: opacity 150ms ease-out, transform 150ms ease-out;
            transition: opacity 150ms ease-out, transform 150ms ease-out, -webkit-transform 150ms ease-out;
        }

        &:hover,
        &.active {

            &:after {
                opacity: 1;
            }
        }
    }
}

.sidebar {
    width: 280px;
    height: 100%;
    border-right: 1px solid $colour_Border;
    overflow-y: auto;

    &.sidebar-right {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
    }

    &.sidebar-large {
        width: $layout_sidebarWidthLarge;
    }

    &.sidebar-light {
        background-color: $colour_Background;
    }

    & nav {

        & .menu-group-title {
            padding: 0 20px;
        }

        & .menu-item {
            padding: 2px 15px 2px 19px;

            &:after {
                top: 0;
                height: 100%;
                width: 4px;
                -webkit-transform: scaleY(0);
                        transform: scaleY(0);
            }

            &:hover,
            &.active {

                &:after {
                    -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                }
            }

            & .menu-item-link {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}

.sidebar-block {
    margin-bottom: 64px;
    padding: 0 20px;
}

.navbar {
    width: 100%;
    border-bottom: 1px solid $colour_Border;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 99;

    & .app-title {
        margin: 0 15px 0 0;
        font-size: 18px;
    }

    & nav {

        & .menu {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        & .menu-item {
            display: inline-block;
            padding: 15px 25px;
            vertical-align: bottom;

            &:after {
                bottom: 0;
                height: 3px;
                width: 100%;
                -webkit-transform: scaleX(0);
                        transform: scaleX(0);
            }

            &:hover,
            &.active {

                &:after {
                    -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                }
            }
        }
    }
}

nav {

    & .menu-item {
        font-weight: 600;
        color: $colour_FontLight;

        &:hover,
        &.active {
            color: $colour_FontDark;
        }

        & .menu-item-link {
            display: block;
        }

        & .icon {
            margin-right: 15px;
        }
    }
}

.content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

@media screen and (max-width: #{ $layout_sidebarWidth + $layout_sidebarWidthLarge + $layout_containerWidth + $layout_scrollbarWidth }) {

    .layout-horizontal {

        .sidebar {

            & + .sidebar-large {

                & + .content {

                    & .container {
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: #{ ($layout_sidebarWidth * 2) + $layout_containerWidth + $layout_scrollbarWidth }) {

    .layout-horizontal {

        .sidebar {

            & + .sidebar {

                & + .content {

                    & .container {
                        width: 100%;
                    }
                }
            }
        }
    }

}


@media screen and (max-width: #{ $layout_sidebarWidth + $layout_containerWidth + $layout_scrollbarWidth }) {

    .layout-horizontal {

        .sidebar {

            & + .content {

                & .container {
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (max-width: #{ $layout_containerWidth + $layout_scrollbarWidth }) {

    .container {
        width: 100% !important;
    }

}
