
@import "_variables.scss";

.layout {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    & .sidebar,
    & .navbar {
        position: fixed;
        top: 0;
        left: 0;
    }
}

.layout-horizontal {

}

.layout-vertical {

}

.content {
    width: 100%;
    overflow-y: auto;
}
