
@import "_variables.scss";
@import "_mixins.scss";

.panel {
    min-width: 80px;
    min-height: 36px;
    background-color: $colour_Background;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
}

.panel-header,
.panel-footer {
    padding: 15px;
}

.panel-header {
    background-color: $colour_BackgroundHeader;
    border-bottom: 1px solid $colour_Border;
    border-top-left-radius: $border_Radius;
    border-top-right-radius: $border_Radius;

    & .panel-title {
        padding: 0;
    }

    & #{ $text_Inputs },
    & select,
    & .input-icon,
    & .input-loadable {
        width: 150px;
        height: 21px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
    }
}

.panel-content {
    padding: 15px;

    & table,
    & .table {
        border: none;
    }
}

.panel-title {
    display: block;
    margin: 0;
    padding: 15px;
    font-size: $font_SizeRoot;
    font-weight: 600;
    @include clipText;
}

.panel-footer {
    background-color: $colour_BackgroundHeader;
    border-top: 1px solid $colour_Border;
    border-bottom-left-radius: $border_Radius;
    border-bottom-right-radius: $border_Radius;

    &.panel-footer-dark {
        background-color: $colour_BackgroundHeader;
    }
}
