
@import "_variables.scss";

.statistic-group {
    display: block;
    margin: 0 -15px;

    & .statistic {

    }
}

.statistic {
    display: inline-block;
    margin: 15px;
    padding: 5px 0;
    vertical-align: bottom;

    &.statistic-stacked {

        & .statistic-value,
        & .statistic-title,
        & .statistic-description {
            display: block;
        }

        & .statistic-value {
            margin: 0 0 5px 0;
        }
    }

    &.statistic-filled {
        padding: 15px;
        background-color: $colour_BackgroundHeader;
        border: 1px solid $colour_Border;
        border-radius: $border_Radius;

        &.statistic-accent,
        &.statistic-business,
        &.statistic-danger,
        &.statistic-warning,
        &.statistic-success {
            color: $colour_FontInverted;
            border: none;

            & .statistic-value,
            & .statistic-title,
            & .statistic-description {
                color: $colour_FontInverted;
            }
        }

        &.statistic-accent {
            background-color: $colour_Accent;
        }

        &.statistic-business {
            background-color: $colour_Business;
        }

        &.statistic-danger {
            background-color: $colour_Danger;
        }

        &.statistic-warning {
            background-color: $colour_Warning;
        }

        &.statistic-success {
            background-color: $colour_Success;
        }
    }

    &.statistic-border-highlight {
        padding-left: 10px;
        border-left-width: 4px;
        border-left-style: solid;
    }

    &.statistic-accent {
        border-color: $colour_Accent;

        & .statistic-value {
            color: $colour_Accent;
        }
    }

    &.statistic-business {
        border-color: $colour_Business;

        & .statistic-value {
            color: $colour_Business;
        }
    }

    &.statistic-danger {
        border-color: $colour_Danger;

        & .statistic-value {
            color: $colour_Danger;
        }
    }

    &.statistic-warning {
        border-color: $colour_Warning;

        & .statistic-value {
            color: $colour_Warning;
        }
    }

    &.statistic-success {
        border-color: $colour_Success;

        & .statistic-value {
            color: $colour_Success;
        }
    }
}

.statistic-value,
.statistic-info-block {
    display: inline-block;
    vertical-align: middle;
}

.statistic-value {
    margin-right: 5px;
    font-size: round($font_SizeRoot * pow($font_TypographyRatio, 4));
    font-weight: 600;
    line-height: 1;
    color: $colour_FontDark;
}

.statistic-info-block {

}

.statistic-title,
.statistic-description {
    display: block;
}

.statistic-title {
    font-size: $font_SizeRoot;
    font-weight: 600;
    color: inherit;
}

.statistic-description {
    font-size: $font_SizeMinor;
    color: $colour_FontLight;
}
