
@import "_variables.scss";

.table-wrapper {
    background-color: $colour_Background;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
}

table,
.table  {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

.table-striped {

    & tr,
    & .tr {

        &:nth-child(even) {

            & td,
            & .td {
                background-color: $colour_BackgroundStripe;
            }
        }
    }
}

th,
.th,
td,
.td {
    display: table-cell;
    padding: 8px 15px;
    text-align: left;

    &:not(:last-of-type) {
        border-right: 1px solid $colour_Border;
    }
}

th,
.th {
    padding: 15px;
    font-weight: 600;
    color: $colour_FontDark;
    background-color: $colour_BackgroundHeader;
    border-bottom: 1px solid $colour_Border;

    & .toggle {
        background-color: $colour_Background;
    }

    & #{ $text_Inputs },
    & select,
    & .input-icon,
    & .input-loadable {
        width: 150px;
        height: 21px;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
    }
}

tr,
.tr {

    &:not(:last-child) {

        & td,
        & .td {
            border-bottom: 1px solid $colour_BorderLight;
        }
    }
}
