
@import "_variables.scss";

.tab-control {
    background-color: $colour_Background;
    border: 1px solid $colour_Border;
    border-radius: $border_Radius;
}

.tab-control-header {
    background-color: $colour_BackgroundHeader;
    border-bottom: 1px solid $colour_Border;

    & .control {
        padding: 15px;
    }
}

.tabs-list {
    margin: 0;
    padding: 0;
    list-style: none;

    &.control {
        padding: 0;
    }
}

.tab-item {
    display: inline-block;
    position: relative;
    color: $colour_FontLight;

    &:after {
        display: none;
        position: absolute;
        content: " ";
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $colour_Accent;
    }

    &:hover  {
        color: $colour_Font;
    }

    &.active {
        color: $colour_FontDark;

        &:after {
            display: block;
        }
    }

    & .icon {
        margin-right: 10px;
    }

    & .loader {
        width: 18px;
        height: 18px;
        margin: 0 0 0 10px;
    }
}

.tab-item-link {
    display: block;
    padding: 15px 25px;
    font-weight: 600;
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.tab-control-viewport {
    display: block;
    padding: 15px;
}

.tab-pane {
    display: none;
    z-index: 1;

    &.active {
        display: block;
        z-index: 2;
    }
}
