
@import "_variables.scss";

.typeahead {

    & .dropdown-panel {
        width: 100%;
        min-height: 22px;
        max-height: 350px;
        overflow-y: auto;
        -webkit-transform-origin: top center;
                transform-origin: top center;
    }

}

.typeahead-result {
    padding: 5px 15px;
    cursor: pointer;

    &:hover {
        background-color: $colour_BackgroundStripe;
    }
}
