
@import "_variables.scss";

.clip-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    margin-top: 0;
}

.subtitle {
    color: $colour_FontLight;
}

.metadata {
    font-size: $font_SizeSmall;
    color: $colour_FontLight;
}
