
@import "_variables.scss";
@import "_functions.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.75em 0;
    line-height: $font_LineHeight;
    font-weight: 600;
    color: $colour_FontDark;
}

h1 {
    margin-top: 0;
    font-size: round($font_SizeRoot * pow($font_TypographyRatio, 4));
}

h2 {
    font-size: round($font_SizeRoot * pow($font_TypographyRatio, 3));
}

h3 {
    font-size: round($font_SizeRoot * pow($font_TypographyRatio, 2));
}

h4 {
    font-size: round($font_SizeRoot * $font_TypographyRatio);
}

h5 {
    font-size: $font_SizeRoot;
}

h6 {
    font-size: round($font_SizeRoot * (1 / $font_TypographyRatio));
}

p {
    margin: 0.75em 0;
}

small {
    font-size: round($font_SizeRoot * (1 / $font_TypographyRatio));
}

.text-accent {
    color: $colour_Accent;
}

.text-business {
    color: $colour_Business;
}

.text-danger {
    color: $colour_Danger;
}

.text-warning {
    color: $colour_Warning;
}

.text-success {
    color: $colour_Success;
}

.text-inverted {
    color: $colour_FontInverted;
}

.text-left {
    text-align: left;
}

.text-centre {
    text-align: center;;
}

.text-right {
    text-align: right;
}

.clip-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title,
.subtitle {
    margin: 0;
}

.subtitle {
    color: $colour_FontLight;
}

.metadata {
    color: $colour_FontLight;
}
