

/* Layout */
$layout_scrollbarWidth: 17px;
$layout_containerWidth: 1160px;
$layout_sidebarWidth: 280px;
$layout_sidebarWidthLarge: 450px;


/* Grid */
$grid_columns: 12;


/* Typography */
$font_Family: "Open Sans", sans-serif;
$font_TypographyRatio: 1.25;
$font_SizeRoot: 14px;
$font_SizeMinor: round($font_SizeRoot * (1 / $font_TypographyRatio));
$font_LineHeight: 1.45;


/* Colours */
$colour_Font: #414550;
$colour_FontLight: lighten($colour_Font, 20%);
$colour_FontDark: darken($colour_Font, 5%);
$colour_FontInverted: #ffffff;

$colour_Accent: #2196f3;
$colour_AccentDark: darken($colour_Accent, 10%);
$colour_Business: #2196f3;
$colour_BusinessDark: darken($colour_Business, 10%);
$colour_Danger: #DE6060;
$colour_DangerDark: darken($colour_Danger, 10%);
$colour_Warning: #F7C46A;
$colour_WarningDark: darken($colour_Warning, 10%);
$colour_Success: #28BD8B;
$colour_SuccessDark: darken($colour_Success, 10%);

$colour_Background: #ffffff;
$colour_BackgroundHeader: #fafafc;
$colour_BackgroundHeaderDark: darken($colour_BackgroundHeader, 2.5%);
$colour_BackgroundStripe: #fdfdfd;

$colour_Border: #dddddd;
$colour_BorderLight: #eeeeee;


/* Borders */
$border_Radius: 2px;


/* Inputs */
$text_Inputs: 'input:not([type="submit"]):not([type="checkbox"]):not([type="radio"])';
