@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

.button {
    display: inline-block;
    padding: $buttonPaddingVertical $buttonPaddingHorizontal;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeightHeavy;
    color: $colourFontNegative;
    background-color: $colourAccent;
    outline: none;
    border: none;
    border-radius: $borderRadius;
    cursor: pointer;

    @include on-event {
        color: $colourFontNegative;
        background-color: $colourAccentDarker;
    }
}

.button-small {
    padding: $buttonSmallPaddingVertical $buttonSmallPaddingHorizontal;
}

.button-large {
    padding: $buttonLargePaddingVertical $buttonLargePaddingHorizontal;
}

.button-success {
    background-color: $colourSuccess;

    @include on-event {
        background-color: $colourSuccessDarker;
    }
}

.button-warning {
    background-color: $colourWarning;

    @include on-event {
        background-color: $colourWarningDarker;
    }
}

.button-danger {
    background-color: $colourDanger;

    @include on-event {
        background-color: $colourDangerDarker;
    }
}