@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

#{ inputs() },
select,
textarea {
    display: block;
    width: 100%;
    min-width: 150px;
    padding: $inputPaddingVertical $inputPaddingHorizontal;
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $fontLineHeight;
    color: $colourFont;
    background-color: $colourBackground;
    @include border;
    border-radius: $borderRadius;
    outline: none;
    -webkit-transition: border 150ms ease-out;
    -moz-transition: border 150ms ease-out;
    -o-transition: border 150ms ease-out;
    transition: border 150ms ease-out;

    &:focus,
    &:active {
        border-color: $colourAccent;
    }

    &:disabled {
        background-color: $colourBackgroundMedium;
        cursor: not-allowed;
    }

    &:invalid {
        border-color: $colourDanger;

        & + .validation-message {
            display: block;
        }
    }
}

#{ inputs() },
select {
    height: $inputHeight;
}

#{ inputs(toggle) } {
    opacity: 0;
}

.toggle {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    vertical-align: text-bottom;
    overflow: hidden;

    & label {
        display: block;
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        margin: 0;
        background-color: $colourBackground;
        @include border;
        cursor: pointer;

        &:after {
            position: absolute;
            display: block;
            content: " ";
        }
    }

    & + label {
        display: inline-block;
        margin: 0 $layoutPaddingMedium 0 0;
        font-size: 1em;
        font-weight: $fontWeight;
        color: inherit;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.toggle-switch {
    width: 32px;
    height: 18px;

    & label {
        width: 32px;
        height: 18px;
        border-radius: 9px;

        &:after {
            width: 12px;
            height: 12px;
            top: 2px;
            left: 2px;
            background-color: $colourFontSecondary;
            border-radius: 50%;
            -webkit-transition: transform 200ms ease-out, background 200ms ease-out;
            -moz-transition: transform 200ms ease-out, background 200ms ease-out;
            -o-transition: transform 200ms ease-out, background 200ms ease-out;
            transition: transform 200ms ease-out, background 200ms ease-out;
        }

        &:hover {

            &:after {
                background-color: $colourAccent;
            }
        }
    }

    & input[type="checkbox"] {

        &:focus,
        &:active {
            & label {
                &:after {
                    background-color: $colourAccent;
                }
            }
        }

        &:checked {

            & + label {

                &:after {
                    transform: translateX(14px);
                    background-color: $colourBackground;
                }
            }
        }

        &:disabled {

            & + label {
                &:after {
                    background-color: $colourPrimary;
                }
            }
        }
    }
}

.toggle-checkbox {
    width: 18px;
    height: 18px;

    & label {
        width: 18px;
        height: 18px;
        border-radius: $borderRadius;
        -webkit-transition: border 150ms ease-out;
        -moz-transition: border 150ms ease-out;
        -o-transition: border 150ms ease-out;
        transition: border 150ms ease-out;

        &:after {
            width: 6px;
            height: 12px;
            top: 1px;
            left: 5px;
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: border 200ms ease-out;
            -moz-transition: border 200ms ease-out;
            -o-transition: border 200ms ease-out;
            transition: border 200ms ease-out;
        }

        &:hover {
            border-color: $colourAccent;
        }
    }

    & input[type="checkbox"] {

        &:focus,
        &:active {
            & label {
                border-color: $colourAccent;
            }
        }

        &:checked {

            & + label {

                &:after {
                    border-color: $colourBackground;
                }
            }
        }

        &:disabled {

            & + label {
                &:after {
                    background-color: $colourBackgroundMedium;
                }
            }
        }
    }
}

.toggle-switch,
.toggle-checkbox {

    & input[type="checkbox"] {

        &:checked {

            & + label {
                background-color: $colourAccent;
                border-color: $colourAccent;
            }
        }

        &:disabled {

            & + label {
                background-color: $colourBackgroundMedium;
            }
        }
    }
}


.toggle-radio {
    width: 18px;
    height: 18px;

    & label {
        width: 18px;
        height: 18px;
        border-radius: 50%;

        &:after {
            width: 10px;
            height: 10px;
            top: 3px;
            left: 3px;
            background-color: $colourFontSecondary;
            border-radius: 50%;
            -webkit-transition: background 200ms ease-out;
            -moz-transition: background 200ms ease-out;
            -o-transition: background 200ms ease-out;
            transition: background 200ms ease-out;
        }

        &:hover {

            &:after {
                background-color: $colourAccent;
            }
        }
    }

    & input[type="radio"] {

        &:focus {
            & label {

                &:after {
                    background-color: $colourAccent;
                }
            }
        }

        &:checked {

            & + label {
                background-color: $colourAccent;
                border-color: $colourAccent;

                &:after {
                    background-color: $colourBackground;
                }
            }
        }

        &:disabled {

            & + label {
                background-color: $colourBackgroundMedium;

                &:after {
                    background-color: $colourPrimary;
                }
            }
        }
    }
}

.toggle-switch,
.toggle-radio {

    & label {
        -webkit-transition: background 200ms ease-out;
        -moz-transition: background 200ms ease-out;
        -o-transition: background 200ms ease-out;
        transition: background 200ms ease-out;
    }
}

.input-group-loadable,
.input-group-icon {
    position: relative;
    width: 100%;

    & #{ inputs() },
    & select {
        position: relative;
        top: 0;
    }
}

.input-group-loadable,
.input-group-icon {

    & #{ inputs() },
    & select {
        padding-right: $inputHeight;
        z-index: 1;
    }
}

.input-group-loadable {

    & .loader {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        right: 12px;
        margin: -9px 0 0 0;
        z-index: 2;
    }

    &.input-group-loadable-left {

        & #{ inputs() },
        & select {
            padding-left: $inputHeight;
            padding-right: 12px;
        }

        & .loader {
            left: 12px;
            right: auto;
        }
    }
}

.input-group-icon {

    & .icon {
        position: absolute;
        top: 50%;
        right: 12px;
        margin: -9px 0 0 0;
        color: $colourFontSecondaryLight;
        z-index: 2;
    }

    &.input-group-icon-left {

        & #{ inputs() },
        & select {
            padding-left: $inputHeight;
            padding-right: 12px;
        }

        & .icon {
            left: 12px;
            right: auto;
        }
    }
}

