@import "../abstracts/_variables.scss";
@import "../abstracts/_mixins.scss";

.list {
    list-style: none;
    @include bleed;
}

.list-hover {
    & .list-item {
        &:hover {
            background-color: $colourBackgroundHighlight;
        }
    }
}

.list-item {
    padding: $layoutPaddingSmall $layoutPaddingMedium;
    @include border(bottom, $colour: $colourBorderLight);
}

.thread {
    & .list-item {
        border: none;
    }
    & .thread {
        padding-left: $layoutPaddingLarge;

        & .list-item {
            padding-top: $layoutPaddingSmall * 2;
            padding-bottom: 0;
        }
    }
}